.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-shadown);
    box-shadow: inset 0px 16px 100px 16px var(--background);
    padding-bottom: 120px;
}

.title {
    font-size: 5.2rem;
    color: var(--primary-50);
    padding-top: 28px;
}

.description {
    font-size: 2.0rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

@media screen and (max-width: 700px) {
    .title, .description{
        width: 90vw;
    }
}