.container {
    width: 100%;
    margin-top: 18.0rem;
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    padding-bottom: 80px;
}

.firsSectionContainer {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    font-weight: 300;
}

.title {
    font-size: 5.2rem;
}

.titleBold {
    color: var(--secondary-50);
}

.madeWithLoveContainer {
    padding-top: 12px;
    font-size: 14px;
    text-align: center;
}

.buttonGetImages {
    font-size: 1.8rem;
    padding: 16px 18px 16px 18px;
    width: fit-content;
    border: 1px solid var(--gray-50);
    border-radius: 12px;
    font-weight: 500;
    box-shadow: var(--buttom-shadow-primary);
    animation: shadow-change 8s  infinite;
    transition: 0.2s all ease-in-out;
}

.buttonGetImages:hover {
    color: #ffffff;
    background-color: var(--primary-50);
    border: 1px solid var(--black-100);
}

@keyframes shadow-change {
    0% { box-shadow: var(--buttom-shadow-primary); }
    25% { box-shadow: var(--buttom-shadow-secondary); }
    50% { box-shadow: var(--buttom-shadow-tertiary); }
    75% { box-shadow: var(--buttom-shadow-secondary); }
    100% { box-shadow: var(--buttom-shadow-primary); }
}


.descriptionSite {
    font-size: 1.8rem;
    width: 32.1rem;
}

.imageContainer {
    width: 30vw;
}


.imageHome {
    width: 100%;
}

@media screen and (max-width: 1250px) and (min-width: 700px) {
    .container {
        margin-top: 14.0rem;
        grid-template-columns: 12.8rem 1fr 12.8rem;
    }

   

    .title {
        font-size: 4.0rem;
        line-height: 5.0rem;
    }

    .descriptionSite {
        width: 24.8rem;
    }

    .imageContainer {
        width: 40vw;
    }
}

@media screen and (max-width: 700px) and (min-width: 430px) {
    .container {
        margin-top: 14.0rem;
        grid-template-columns: 1rem 1fr 1rem;
    }

   

    .title {
        font-size: 3.2rem;
        line-height: 5.0rem;
    }

    .descriptionSite {
        width: 18.8rem;
    }

    .imageContainer {
        width: 60vw;
    }
}

@media (max-width: 430px) {
    .container {
        margin-top: 11.0rem;
        grid-template-columns: 2.4rem 1fr 2.4rem;
    }

    .firsSectionContainer {
       flex-direction: column;
    }

    .descriptionContainer {
        gap: 1.2rem;
        width: 30.0rem;
        align-items: center;
    }

    .descriptionSite {
        width: 25.0rem;
        text-align: center;
    }

    .title {
        font-size: 4.4rem;
        line-height: 5.0rem;
        text-align: center;
    }

    .imageContainer {
        width: 70vw;
        padding-top: 5.2rem;
    }

    .titleContainer {
        width: 230px;
    }

    .madeWithLoveContainer {
        padding-top: 16px;
        font-size: 14px;
    }
}