.card {
    height: 21.0rem;
    width: 18.0rem;
    background-color: #E4E1E2;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(--gray-50);
    transition: transform 0.3s ease-in-out, background-color 0.3s linear;
    will-change: transform, background-color;
}

.card:hover {
    background-color: var(--background);
    box-sizing: border-box;
    border: 1px solid var(--gray-50); 
    color: white;
}

.imageContainer {
    width: 80%;
    margin-top: 2.8rem;
}

.description {
    margin-top: 16px;
    font-weight: 500;
}