.container {
    margin-top: 132px;
    display: grid;
    grid-template-columns: 1fr 552px 1fr 1fr;
}

.grid {
    grid-column-start: 2;
}

.link {
    background-color: var(--primary-50);
    height: 50%;
}

.link:hover {
    height: 164px;
    width: 164px;
}