.container {
    margin-top: 132px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 552px 1fr 1fr;
}

.grid {
    grid-column-start: 2;
}


.linkContainer {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.link {
    display: flex;
    align-items: center;
    gap: 4px;
}

.link:hover {
    color: var(--primary-50);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr  1fr 1fr;
    }
}