.container {
    width: 100%;
    height: 6.4rem;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-header);
    backdrop-filter: blur(8px);
    z-index: 3;
    border-bottom: 1px solid var(--gray-50);
    font-weight: 500;
}

.logoAndNabBarContainer {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    font-size: 3.1rem;
    color: var(--primary-50);
}

.menuMobileLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 1.2rem;
  }

.themeSwitchWrapper {
    display: inline-block;
    width: 6.0rem;
    height: 2.6rem;
    position: relative;
}

.menuButton {
    display: none;
}

.menuMobile {
    opacity: 0;
    width: 0;
    height: 0;
}

.menuMobile:checked + .menuButton::before{
    background-image: url(../../../assets/icons/x.svg);
}

.menuButton::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    transition: 0.2s all ease-in-out;
    background-image: url(../../../assets/icons/menu.svg);
}



@media screen and (max-width: 1250px) and (min-width: 600px) {
    .container {
        grid-template-columns: 2.4rem 1fr 2.4rem;
    }
}


@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 2.4rem 1fr 2.4rem;
    }

    .menuButton {
        display: flex;
      }

    .menuMobileLabel {
        display: none;
    }

    .menuMobile:checked ~ .navbar{
        opacity: 100;
        pointer-events: all;
      }

    .mobileChangeTheme{
        display: unset;
        margin-right: 32px;
    }
}
