.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--black-100);
    padding: 2.4rem;
    border-radius: 14px;
    width: 200px;
}

.colorsContainer {
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    width: 146px;
}