.container {
    width: 100%;
    margin-top: 18.8rem;
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    padding-bottom: 80px;
}

.firsSectionContainer {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 55.5rem;
    font-weight: 300;
}

.title {
    font-size: 5.2rem;
}

.titleBold {
    color: var(--secondary-50);
}

.buttonGetImages {
    /* color: var(--gray-50); */
    font-size: 1.8rem;
    /* background-color: #ffffff; */
    padding: 16px 18px 16px 18px;
    width: fit-content;
    border: 2px solid var(--gray-50);
    border-radius: 12px;
    font-weight: 500;
    box-shadow: var(--buttom-shadow-primary);
    animation: shadow-change 8s  infinite;
}

@keyframes shadow-change {
    0% { box-shadow: var(--buttom-shadow-primary); }
    25% { box-shadow: var(--buttom-shadow-secondary); }
    50% { box-shadow: var(--buttom-shadow-tertiary); }
    75% { box-shadow: var(--buttom-shadow-secondary); }
    100% { box-shadow: var(--buttom-shadow-primary); }
}
/* 243, 174, 21 */
.buttonGetImages:hover {
    color: #ffffff;
    font-size: 1.8rem;
    background-color: var(--primary-50);
    padding: 16px 18px 16px 18px;
    width: fit-content;
    border: 1px solid var(--black-50);
    border-radius: 12px;
    font-weight: 500;
}


.descriptionSite {
    font-size: 1.8rem;
    width: 32.1rem;
}

.imageContainer {
    width: 30vw;
}

@media (max-width: 1000px) {
    .container {
        margin-top: 11.0rem;
    }

    .descriptionContainer {
        gap: 2.0rem;
        width: 30.0rem;
    }

    .descriptionSite {
        width: 21.0rem;
    }

    .container {
        grid-template-columns: 2.4rem 1fr 2.4rem;
    }

    .title {
        font-size: 4.0rem;
        line-height: 5.0rem;
    }

    .imageContainer {
        position: absolute;
        right: 0vw;
        top: 36vh;
        width: 70vw;
    }

    .titleContainer {
        width: 230px;
    }

    .buttonGetImages {
        margin-top: 22.0rem;
    }
}