.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1220px 1fr;
    border-top: 1px solid var(--gray-50);
    padding: 72px 0px;
}

.content {
    grid-column-start: 2;
    display: flex;
    justify-content: space-between;
}

.madeWithLove {
    display: flex;
    align-items: center;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.link {
    display: flex;
    align-items: center;
    gap: 4px;
}

.link:hover {
    color: var(--primary-50);
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.contactMe {
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}


@media screen and (max-width: 1250px) and (min-width: 600px) {
    .container {
        grid-template-columns: 2.4rem 1fr 2.4rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 2.4rem 1fr 2.4rem;
    }
}