.tabActive {
    width: 9.0rem;
    height: 100%;
    border-right:  1.5px solid var(--primary-50);
    border-top: 1.5px solid var(--primary-50);
    border-left:   1.5px solid  var(--primary-50);
    border-radius: 4px 4px 0px 0px;
    outline: 1px solid var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--background);
}

.tabInactive {
    width: 9.0rem;
    height: 100%;
    border-right:  1.5px solid var(--gray-50);
    border-left:   1.5px solid  var(--gray-50);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--background);
    transition: 0.2s all ease-in-out;
}

.tabText {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black-50);
}
