.container {
    margin-top: 132px;
    display: grid;
    grid-template-columns: 1fr  56.8rem 1fr;
}

.imagesView {
    grid-column-start: 2;
}

.title {
    font-size: 24px;
    margin-bottom: 3.4rem;
}

.cardContainer {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    margin-bottom: 6.4rem;
    min-height: 47vh;
}

@media (min-width: 471px) and (max-width: 700px) {
    .container {
        grid-template-columns: 1fr  37.2rem 1fr;
    }
}

@media screen and (max-width: 470px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}